{#
 # This file is part of the CRUDlex package.
 #
 # (c) Philip Lehmann-Böhm <philip@philiplb.de>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{%extends layout %}

{% block content %}

    {% set fields = crudData.getDefinition().getEditableFieldNames() %}
    <a id="crudBtnList" href="{{ app.url_generator.generate('crudList', {'entity': crudEntity}) }}" type="button" class="btn btn-default btn-success btn-crudlex">{{ 'crudlex.button.list'|trans }}</a>
    {% if mode == 'edit' %}
        <a id="crudBtnShow" href="{{ app.url_generator.generate('crudShow', {'entity': crudEntity, 'id': entity.get('id')}) }}" type="button" class="btn btn-default btn-success btn-crudlex">{{ 'crudlex.button.show'|trans }}</a>
        <a id="crudBtnNew" href="{{ app.url_generator.generate('crudCreate', {'entity': crudEntity}) }}" class="btn btn-success btn-crudlex">{{ 'crudlex.button.new'|trans }}</a>

    {% endif %}
    <form class="{{ mode == 'edit' ? 'crudFormDelete' : 'crudFormCreate' }}" role="form" enctype="multipart/form-data" method="POST" action="{{ mode == 'create' ? app.url_generator.generate('crudCreate', {'entity': crudEntity}) : app.url_generator.generate('crudEdit', {'entity': crudEntity, 'id': entity.get('id')}) }}">

        {% if mode == 'edit' %}
            <input type="hidden" name="version" value="{{ entity.get('version') }}" />
            <div class="form-group">
                <strong>{{ crudData.getDefinition().getFieldLabel('id') }}: </strong> {{ entity.get('id') }}
            </div>
            <div class="form-group">
                <strong>{{ crudData.getDefinition().getFieldLabel('created_at') }}: </strong> {{ entity.get('created_at') }}
            </div>
            <div class="form-group">
                <strong>{{ crudData.getDefinition().getFieldLabel('updated_at') }}: </strong> {{ entity.get('updated_at') }}
            </div>
        {% endif %}

        {% for field in fields %}

            {% set type = crudData.getDefinition().getType(field) %}
            {% set class = type == 'bool' ? 'checkbox' : 'form-group' %}
            <div class="{{ class }} {{ field in fieldErrors|keys and (fieldErrors[field]['required'] or fieldErrors[field]['unique'] or fieldErrors[field]['input']) ? 'has-error' : '' }}">
                {% include app.crud.getTemplate(app, 'template', type ~ 'Field', crudEntity) with {
                    field: field,
                    fieldNamePrefix: '',
                    crudData: crudData,
                    value: entity.get(field),
                    annotations: true,
                    crudEntity: crudEntity
                } only %}
            </div>

        {% endfor %}

        <button type="submit" id="crudBtnSubmit" class="btn btn-default btn-success">{{ 'crudlex.button.submit'|trans }}</button>
    </form>
{% endblock %}
