{#
 # This file is part of the CRUDlex package.
 #
 # (c) Philip Lehmann-Böhm <philip@philiplb.de>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{%extends layout %}

{% block content %}
    {% set fields = definition.getListFieldNames() %}
    <a id="crudBtnNew" href="{{ app.url_generator.generate('crudCreate', {'entity': crudEntity}) }}" class="btn btn-success btn-crudlex">Create New</a>

    <div class="table-responsive">
    <table class="table table-striped">

        <tr>
            {% for field in fields %}
                <th>{{ definition.getFieldLabel(field) }}</th>
            {% endfor %}
            <th>Action</th>
        </tr>

        {% for entity in entities %}
            <tr id="crudId{{ entity.get('id') }}">
                {% for field in fields %}
                    <td class="crudField{{ field }}">
                        {% include '@crud/renderField.twig' with {
                            entity: entity,
                            crudEntity: crudEntity,
                            definition: definition,
                            field: field,
                            mode: 'list'
                        } only %}
                    </td>
                {% endfor %}
                <td>
                    <a id="crudBtnShow{{ entity.get('id') }}" href="{{ app.url_generator.generate('crudShow', {'entity': crudEntity, 'id': entity.get('id')}) }}" type="button" class="crudBtnShow btn btn-default btn-xs btn-success">Show</a>
                    <a id="crudBtnEdit{{ entity.get('id') }}" href="{{ app.url_generator.generate('crudEdit', {'entity': crudEntity, 'id': entity.get('id')}) }}" type="button" class="crudBtnEdit btn btn-default btn-xs btn-warning">Edit</a>
                    <form style="display: inline-block" onSubmit="return confirm('Are you sure to delete this entity {{ entity.get('id') }}?');" method="POST" action="{{ app.url_generator.generate('crudDelete', {'entity': crudEntity, 'id': entity.get('id')}) }}">
                        <input id="crudBtnDelete{{ entity.get('id') }}" type="submit" class="crudBtnDelete btn btn-default btn-xs btn-danger" value="Delete" />
                    </form>
                </td>
            </tr>
        {% endfor %}

    </table>

    <p>Total: {{ total }}</p>
    {% if total > pageSize %}
        <nav>
            <ul class="pagination">
                <li{{ page == 0 ? ' class="disabled"' : ''}}><a href="{{ app.url_generator.generate('crudList', {'entity': crudEntity, 'crudPage': 0}) }}"><span aria-hidden="true">&laquo;</span><span class="sr-only">First</span></a></li>
                <li{{ page == 0 ? ' class="disabled"' : ''}}><a href="{{ app.url_generator.generate('crudList', {'entity': crudEntity, 'crudPage': page > 0 ? page - 1 : 0}) }}"><span aria-hidden="true">&lsaquo;</span><span class="sr-only">Previous</span></a></li>
                {% for p in 0..maxPage %}
                    <li{{ p == page ? ' class="active"' : ''}}>
                        <a href="{{ app.url_generator.generate('crudList', {'entity': crudEntity, 'crudPage': p}) }}">{{ p + 1 }}</a>
                    </li>
                {% endfor %}
                <li{{ page == maxPage ? ' class="disabled"' : ''}}><a href="{{ app.url_generator.generate('crudList', {'entity': crudEntity, 'crudPage': page < maxPage ? page + 1 : maxPage}) }}"><span aria-hidden="true">&rsaquo;</span><span class="sr-only">Next</span></a></li>
                <li{{ page == maxPage ? ' class="disabled"' : ''}}><a href="{{ app.url_generator.generate('crudList', {'entity': crudEntity, 'crudPage': maxPage}) }}"><span aria-hidden="true">&raquo;</span><span class="sr-only">Last</span></a></li>
            </ul>
        </nav>
    {% endif %}

    </div>
{% endblock %}
