{#
 # This file is part of the CRUDlex package.
 #
 # (c) Philip Lehmann-Böhm <philip@philiplb.de>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{%extends layout %}

{% block content %}
    {% set definition = entity.getDefinition() %}
    {% set fields = definition.getPublicFieldNames() %}

    <a href="{{ app.url_generator.generate('crudList', {'entity': crudEntity}) }}" type="button" class="btn btn-default btn-success btn-crudlex">List</a>
    <a href="{{ app.url_generator.generate('crudCreate', {'entity': crudEntity}) }}" class="btn btn-success btn-crudlex">Create New</a>
    <table class="table table-striped">
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>

        {% for field in fields %}
            <tr>
                <td>{{ definition.getFieldLabel(field) }}</td>
                <td>
                    {% include '@crud/renderField.twig' with {
                        entity: entity,
                        definition: definition,
                        field: field,
                        mode: 'show'
                    } only %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <a href="{{ app.url_generator.generate('crudEdit', {'entity': crudEntity, 'id': entity.get('id')}) }}" type="button" class="btn btn-default btn-warning">Edit</a>
                <form style="display: inline-block" onSubmit="return confirm('Are you sure to delete this entity {{ entity.get('id') }}?');" method="POST" action="{{ app.url_generator.generate('crudDelete', {'entity': crudEntity, 'id': entity.get('id')}) }}">
                    <input type="submit" class="btn btn-default btn-danger" value="Delete" />
                </form>
            </td>
        </tr>

    </table>
{% endblock %}
